data types

1. numbers

In [1]:
1 + 1

2

In [2]:
# storing values in variables
x = 10
y = 20
print(x + y)

30

In [3]:
# division
a = 100
b = 10
print(a / b)

10.0

In [4]:
print(int(a / b))

10

In [5]:
(x + y) * (a + b)

3300

In [6]:
print(x)
print(y)
print(a)
print(b)

10
20
100
10

2. strings

In [7]:
'you can write a string with single quotes'

'you can write a string with single quotes'

In [8]:
"or you can use double quotes"

'or you can use double quotes'

In [9]:
# storing a string in a variable
my_string = "hello from Python"

In [10]:
print(my_string)

hello from Python

In [11]:
# methods on strings
print(my_string.split(' '))
print(my_string.upper())
print(my_string.lower())
print(my_string.split())

['hello', 'from', 'Python']
HELLO FROM PYTHON
hello from python
['hello', 'from', 'Python']

In [12]:
# numbers and strings
age = 12
name = "John"
print(f"{name} is {age} years old")

John is 12 years old

In [13]:
print("{name} is {age} years old".format(name=name, age=age))

John is 12 years old

3. lists

In [14]:
l = [1, 2, 3, 4, 5]

In [15]:
l[0] # grabs the first element

1

In [16]:
l[-1] # grabs the last element

5

In [17]:
l.append(6) # adds an element to the end of the list

In [18]:
print(l)

[1, 2, 3, 4, 5, 6]

In [19]:
l[0:2] # grabs the first two elements

[1, 2]

In [20]:
l[0] = 0 # replaces the first element

In [21]:
print(l)

[0, 2, 3, 4, 5, 6]

In [22]:
nested_list = [1, 2, 3, [4, 5, 6, [7, 8, 9]]]

In [23]:
nested_list[3]

[4, 5, 6, [7, 8, 9]]

In [24]:
nested_list[3][3]

[7, 8, 9]

In [25]:
nested_list[3][3][1]

8

4. dictionaries

In [26]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

In [27]:
print(d)

{'k1': 1, 'k2': 2, 'k3': 3}

In [28]:
d['k3']

3

In [29]:
d['k2'] = 'new value'

In [30]:
print(d)

{'k1': 1, 'k2': 'new value', 'k3': 3}

In [31]:
d = dict(k1=1, k2=2, k3=3, k4=4, k5=5)

In [32]:
print(d)

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5}

In [33]:
d['k5'] = 'last_value'

In [34]:
d

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 'last_value'}

5. booleans

In [35]:
True

True

In [36]:
False

False

In [37]:
0 == True

False

In [38]:
0 == False

True

In [39]:
1 == True

True

In [40]:
'10' == 10

False

In [41]:
False == 0 and True == 1

True

6. tuples: this data type is immutable

In [42]:
t = (10 ,20, 30, 40, 50)

In [43]:
print(t)

(10, 20, 30, 40, 50)

In [44]:
t[-1]

50

In [45]:
# t[-1] = 100 # this will not work because tuples are immutable

7. sets

In [46]:
# sets are unordered and unindexed
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [47]:
set2 = {1,1,1,2,3,4,5,5,6,7,8,9,9,10}
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

8. comparison operators

In [48]:
x = 100
y = 50

In [49]:
x > y

True

In [50]:
x < y

False

In [51]:
x > y and x < y

False

In [52]:
x > y or x < y

True

In [53]:
x == y

False

In [54]:
x != y

True

9. logic operators

In [55]:
(0 == False) and (1 == True) and (x != y)

True

In [56]:
(0 == False) or (1 == True) or (x != y)

True

10. conditionals

In [57]:
if x > y:
    print('x is greater than y')

x is greater than y

In [58]:
if x < y:
    print('x is less than y')
else:
    print('x is not less than y')

x is not less than y