data types

1. numbers

In [1]:
1 + 1

2

In [2]:
# storing values in variables
x = 10
y = 20
print(x + y)

30

In [3]:
# division
a = 100
b = 10
print(a / b)

10.0

In [4]:
print(int(a / b))

10

In [5]:
(x + y) * (a + b)

3300

In [8]:
print(x)
print(y)
print(a)
print(b)

10
20
100
10

2. strings

In [9]:
'you can write a string with single quotes'

'you can write a string with single quotes'

In [10]:
"or you can use double quotes"

'or you can use double quotes'

In [11]:
# storing a string in a variable
my_string = "hello from Python"

In [12]:
print(my_string)

hello from Python

In [14]:
# methods on strings
print(my_string.split(' '))
print(my_string.upper())
print(my_string.lower())
print(my_string.split())

['hello', 'from', 'Python']
HELLO FROM PYTHON
hello from python
['hello', 'from', 'Python']

In [15]:
# numbers and strings
age = 12
name = "John"
print(f"{name} is {age} years old")

John is 12 years old

In [17]:
print("{name} is {age} years old".format(name=name, age=age))

John is 12 years old

3. lists

In [18]:
l = [1, 2, 3, 4, 5]

In [19]:
l[0] # grabs the first element

1

In [20]:
l[-1] # grabs the last element

5

In [21]:
l.append(6) # adds an element to the end of the list

In [22]:
print(l)

[1, 2, 3, 4, 5, 6]

In [23]:
l[0:2] # grabs the first two elements

[1, 2]

In [24]:
l[0] = 0 # replaces the first element

In [25]:
print(l)

[0, 2, 3, 4, 5, 6]

In [31]:
nested_list = [1, 2, 3, [4, 5, 6, [7, 8, 9]]]

In [32]:
nested_list[3]

[4, 5, 6, [7, 8, 9]]

In [33]:
nested_list[3][3]

[7, 8, 9]

In [34]:
nested_list[3][3][1]

8

4. dictionaries

In [35]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

In [36]:
print(d)

{'k1': 1, 'k2': 2, 'k3': 3}

In [37]:
d['k3']

3

In [38]:
d['k2'] = 'new value'

In [39]:
print(d)

{'k1': 1, 'k2': 'new value', 'k3': 3}

In [40]:
d = dict(k1=1, k2=2, k3=3, k4=4, k5=5)

In [41]:
print(d)

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5}

In [42]:
d['k5'] = 'last_value'

In [43]:
d

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 'last_value'}

5. booleans

In [44]:
True

True

In [45]:
False

False

In [46]:
0 == True

False

In [47]:
0 == False

True

In [48]:
1 == True

True

In [49]:
'10' == 10

False

In [50]:
False == 0 and True == 1

True

6. tuples: this data type is immutable

In [51]:
t = (10 ,20, 30, 40, 50)

In [52]:
print(t)

(10, 20, 30, 40, 50)

In [53]:
t[-1]

50

In [54]:
t[-1] = 100 # this will not work because tuples are immutable

TypeError: 'tuple' object does not support item assignment

7. sets

In [55]:
# sets are unordered and unindexed
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [56]:
set2 = {1,1,1,2,3,4,5,5,6,7,8,9,9,10}
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

8. comparison operators

In [58]:
x = 100
y = 50

In [59]:
x > y

True

In [60]:
x < y

False

In [61]:
x > y and x < y

False

In [62]:
x > y or x < y

True

In [63]:
x == y

False

In [64]:
x != y

True

9. logic operators

In [65]:
(0 == False) and (1 == True) and (x != y)

True

In [66]:
(0 == False) or (1 == True) or (x != y)

True

10. conditionals

In [67]:
if x > y:
    print('x is greater than y')

x is greater than y

In [68]:
if x < y:
    print('x is less than y')
else:
    print('x is not less than y')

x is not less than y

In [75]:
#  fizzbuzz
for x in range(1, 21):
    if (x % 3 == 0):
        print('fizz')
    elif (x % 5 == 0):
        print('buzz')
    elif (x % 3 == 0) and (x % 5 == 0):
        print('fizzbuzz')
    else:
        print(x)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz

11. loops

for loops:

In [76]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in nums:
    print(n * 2)

2
4
6
8
10
12
14
16
18
20

In [77]:
for n in nums:
    if n % 2 == 0:
        print(n * 2)

4
8
12
16
20

In [78]:
for n in nums:
    if n % 3 == 0:
        print(n * 3)

9
18
27

In [79]:
[n ** 2 for n in nums]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

while loops:

In [83]:
x = 1
while x > 0 and x < 20:
    print(f"x = {x}")
    x += 1

x = 1
x = 2
x = 3
x = 4
x = 5
x = 6
x = 7
x = 8
x = 9
x = 10
x = 11
x = 12
x = 13
x = 14
x = 15
x = 16
x = 17
x = 18
x = 19

In [84]:
lives = 3
while lives > 0:
    print(f"You have {lives} lives left")
    lives -= 1

You have 3 lives left
You have 2 lives left
You have 1 lives left

12. range()

In [85]:
r = range(10)
print(r)

range(0, 10)

In [86]:
[x for x in range(0, 11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
l = list(range(0, 21))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

12. list comprehension

In [88]:
x = list(range(0, 11))
[x * 2 for x in x]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [89]:
# traditional for loop
out_num = []
for x in x:
    out_num.append(x * 2)
print(out_num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

13. functions

In [90]:
def multiply(n):
    """
    Multiplies a number by 2
    """
    return n * 2

In [91]:
multiply(5)

10

In [92]:
multiply(10)

20

In [93]:
multiply(100)

200

In [102]:
def getname():
    """
    Returns the user's name
    """
    name = input("What is your name? ")
    return f"Hello {name}"

In [103]:
getname()

'Hello John'

In [104]:
def squared(n):
    """
    Squares a number
    """
    return n * n

In [105]:
squared(5)

25